In [2]:
import pandas as pd

In [3]:
df=pd.DataFrame()
df=pd.read_csv('puzzle_input.csv',sep=';',header=None)
df

,0,1,2,3,4,5,6
0,Game 1,1 blue,"4 green, 5 blue","11 red, 3 blue, 11 green","1 red, 10 green, 4 blue","17 red, 12 green, 7 blue","3 blue, 19 green, 15 red"
1,Game 2,"17 red, 10 green","3 blue, 17 red, 7 green","10 green, 1 blue, 10 red","7 green, 15 red, 1 blue","7 green, 8 blue, 16 red","18 red, 5 green, 3 blue"
2,Game 3,"10 blue, 3 green, 8 red","15 green, 14 blue, 1 red","8 blue, 11 red, 2 green","5 red, 9 green, 6 blue",NaN,NaN
3,Game 4,"1 red, 3 blue","3 blue, 3 green, 1 red","11 blue, 2 green","2 green, 14 blue","1 green, 7 blue","11 blue, 5 green"
4,Game 5,"9 green, 5 red, 10 blue","9 red, 4 blue, 12 green","9 green, 6 blue, 14 red","16 green, 8 red, 6 blue","11 blue, 13 red, 1 green",NaN
...,...,...,...,...,...,...,...
95,Game 96,"12 green, 2 blue","11 green, 3 blue","3 red, 2 green, 5 blue","12 green, 2 blue, 4 red","2 blue, 1 green, 1 red","3 red, 11 green, 3 blue"
96,Game 97,"6 red, 3 blue, 1 green","1 blue, 2 red, 14 green","4 blue, 14 green",NaN,NaN,NaN
97,Game 98,"13 green, 1 red, 5 blue","2 red, 5 green, 7 blue","19 green, 5 blue","4 blue, 13 green","5 green, 8 blue",NaN
98,Game 99,"11 red, 8 green","16 red, 10 green","9 red, 6 green","3 blue, 2 red, 4 green",NaN,NaN
99,Game 100,"4 red, 2 blue, 4 green","2 green, 1 red, 1 blue","3 green, 4 blue, 5 red","18 red, 2 blue","9 red, 5 green, 4 blue",NaN

In [82]:

possibles=[]
for game in range(df.shape[0]):
    possible=True
    blue=0
    green=0
    red=0
    for samples in range(1,6,1):
        if type(df[samples][game])==type('str'):
            sample=df[samples][game]
            sample=sample.split()
            
            for i in range(0,len(sample),2):
                if sample[i+1]=='green' or sample[i+1]=='green,':
                    green=int(sample[i])
                if sample[i+1]=='blue' or sample[i+1]=='blue,':
                    blue=int(sample[i])
                if sample[i+1]=='red' or sample[i+1]=='red,':
                    red=int(sample[i])

            if blue>14 or red>12 or green>13:
                possible=False
                break
            else:
                possible=True
        else:
            pass
        
    if possible:    
        possibles.append(game+1)
        

sum(possibles)

2810